@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(205,205,205);
    background: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(244,244,245,1) 50%, rgba(193,194,194,1) 100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.quiz-container{
    background-color: rgb(168, 203, 231);
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0.4);
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    text-align: center;
    padding: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
 
}

ul li{
    margin: 0.5rem 0;
    font-size: 1.1rem;
       
}

ul li input{
    cursor: pointer;
}

ul li label{
    cursor: pointer;
}


button{
    cursor: pointer;
    width:100%;
    padding: 1rem;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    background-color: rgb(129, 128, 134);
    color: white;
}

button:hover{
    background-color: rgb(91, 90, 95);
}